<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorksConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\xampp\htdocs\Advanced ASP.NET Course\Advanced ASP.NET Website\App_Data\AdventureWorks.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="AdventureWorksConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\xampp\htdocs\Advanced ASP.NET Course\Advanced ASP.NET Website\App_Data\AdventureWorks.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>